/***
CSS for nav element
***/

*{
  margin: 0;
}

nav{
  background-color: #4056A1;
  padding: 20px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  position: fixed;
  top: 0;    
  width: 100%;
}

nav span{
color: #FFFFFF;
font-family: 'Bungee', cursive;
margin: 1.5em;
}
